@charset "utf-8";

/*
    Copyright ⓒ OSSAM(오쌤의니가스터디). All rights reserved.
    유튜브주소 : https://www.youtube.com/channel/UCAi3huK5H9VOtB_J5tYk4qg
    구독, 좋아요~ 부탁드려요 :)
*/

* {
  padding: 0;
  margin: 0;
}
h3 {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  color: #603913;
}

/* 윷판 */
.yuch_play {
  /* 창사이즈가 1200보다 작아지면 100%로 처리 */
  width: 1200px;
  max-width: 100%;
  padding: 100px;
  border: 3px solid #603913;
  box-sizing: border-box;
  margin: 0 auto 20px;
  display: flex; /* 자손요소를 수평나열 처리 */
}
.yuch_play > div {
  width: 25%;
  height: 500px;
  background-image: url(front.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
button {
  display: block;
  width: 250px;
  height: 50px;
  margin: 0 auto;
  border: 3px solid #603913;
  box-sizing: border-box;
  background-color: #c37e39;
  font-size: 20px;
  color: #603913;
  font-weight: bold;
  cursor: pointer; /* 마우스손모양 처리 */
}

/* 활성처리1 - 뒷면 보이게 처리 */
.yuch_play > div.active {
  background-image: url(back.png);
}
.yuch_play > div.yuch04.active {
  background-image: url(back2.png);
}

/* 활성처리2 - 낙! */
.yuch_play > div.yuch04.nak {
  position: relative;
  left: 200px;
  transform: rotate(20deg);
}
.yuch_play > div.yuch04.nak:after {
  content: url(double.png);
  position: absolute;
  top: -50px;
  left: -50px;
}

/* 활성3 - 애니메이션 처리 */
.yuch_play > div.rotate {
  animation: rotate 0.2s 3;
}

/* 재미를 위한 rotate 애니메이션 */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 1199~태블릿까지 */
@media screen and (max-width: 1199px) {
  .yuch_play {
    width: calc(100% - 40px);
    padding: 50px;
    margin: 20px auto;
  }
  .yuch_play > div.yuch04.nak {
    top: -100px;
    left: 0;
  }
  .yuch_play > div.yuch04.nak:after {
    top: 20px;
    left: -300px;
  }
}

/* 700보다 작을 때 처리 */
@media screen and (max-width: 700px) {
  h3 {
    font-size: 24px;
    height: 50px;
    line-height: 50px;
  }
  .yuch_play {
    padding: 20px;
  }
  .yuch_play > div {
    height: 300px;
  }
  .yuch_play > div.yuch04.nak:after {
    transform: scale(0.7);
    top: 20px;
    left: -230px;
  }
}
